*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --green: #1B4332;
    --green_highlight: #23513e;

    --amber: #DDA15E;
    --cream: #F8F5F0;
    --text: #1A1A1A;
    --accent: #3A86FF;
}

body {
    min-height: 100vh;
    background-color: var(--cream);
    font-family:Arial, Helvetica, sans-serif;
    color: var(--green);
    margin-top: clamp(60px,6vw,100px);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

.content{
    flex: 1;  /* this pushes footer to the bottom if content is short */
}

p {
    margin-top: 0;
    margin-bottom: 30px;
}


nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: var(--green);

    box-shadow: 0px 5px 20px rgba(0,0,0,0.10);
    z-index: 100;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-weight: bold;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cream);
}

nav a:hover{
    background-color: var(--green_highlight);
    transition: 200ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);
}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vp;
    width: 250px;
    z-index: 999;
    background-color: var(--green);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    padding: 0 0;

}

.sidebar .close-icon-button{
    width: 100%;
    display: flex;}

.sidebar .close-icon-button img{
    margin-left: auto;  /* push to the right */
    padding: 10px 20px; /* optional padding for click area */
    cursor: pointer;    /* makes it clear it's clickable */
    transition: background 0.2s; /* optional hover transition */}

.sidebar .close-icon-button img:hover {
    background-color: var(--green_highlight);     
    transition: 200ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);

}

.menu-button{
    display: none;
}


.h1-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: clamp(20px,8vw,70px);

    text-align: center;
    color: var(--green);
    display: block;
    background-color: var(--cream);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: min(4vw,2rem);
    position: relative;
    max-width: fit-content;
}

h1::after{
    content: "";
    background: var(--amber);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
}


.all{
    justify-self: center;
    margin-left: clamp(14rem,3vw,14rem);
}

.nobreak{
    white-space: nowrap;
}

.person{
    display: flex;
    flex-direction: row;
    columns: 1fr 2fr;
    width: min(60vw,90vw,800px);
    font-size: clamp(1rem,4vw,1.3rem);
    margin-left: 3vw;
    padding-bottom: 3vw;
    line-height: 1.5;  
    gap: 4vw;
    justify-content: space-between;
}

.person p{
    max-width: 60vw;
    align-self:flex-end;

}
.person img{
    border-radius: 50%;
    width: clamp(100px,25vw,10rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-right: 3vw;
    align-self:flex-start;
}

.description{
    display: block;
    font-size: clamp(1rem,4vw,1.3rem);
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    line-height: 1.6;  
    padding-top: 0;
}



.accordion{
    max-width: 800px;
    min-width: min(60vw,800px);
    overflow: hidden;
    background-color: var(--green);
    color: var(--green);
    border-radius: 10px;
    border-color: var(--green);
    border-width: min(0.1rem,10vw);
    border-style: none;
    display: flex;
    flex-direction: column;
    place-self: center;
    margin: min(3vw, 30px);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.10);
}

.accordion__label,
.accordion__content {
    padding: 14px 20px;
    padding-right: 35px;
}

.accordion__label{
    display: block;
    color: var(--cream);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    font-size: clamp(1rem,4vw,1.3rem);

}

.accordion__label:hover {
background-color: var(--green_highlight);}

.accordion__label::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content{
    background: white;
    line-height: 1.6;
    font-size: clamp(1rem,4vw,1.3rem);
    display: none;
}

.accordion__content li{
    font-size: clamp(0.9rem,3vw,1.2rem);
}
.accordion__input{
    display: none;
}

.accordion__input:checked ~ .accordion__content{
    display: block;
}

.accordion__input:checked ~ .accordion__label::after{
    transform: translateY(-50%) rotate(0.5turn);
}

.all-skills{
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 60px;
    left: 0;
    width: clamp(220px,20vw,300px);
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); */
    /* background-color: var(--cream); */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

}

.all-skills p{
    margin: 0;
}

.all-skills-mobile{
    position: block;
    margin-top: min(8vw,60px);
    padding-bottom: 20px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 1.5rem;
    /* background-color: white; */   

}

.all-skills-mobile p{
    margin: 0;
}

.all-skills-mobile .lang, 
.all-skills-mobile .code, 
.all-skills-mobile .other{
    width: clamp(100px,90%,90%);
    font-size: clamp(1rem,4vw,1.3rem);
}

.all-skills-mobile .lang ul, 
.all-skills-mobile .code ul, 
.all-skills-mobile .other ul{
    display: block;
    columns: 3 150px;
    column-gap: 5px;
}

.all-skills-mobile .code ul li,
.all-skills-mobile .other ul li,
.all-skills-mobile .lang .lang-flex p{
    font-size: clamp(1rem,4vw,1.3rem);
}


.all-skills-mobile .code ul{
    columns: 3 100px;
}



.lang{
    max-height: fit-content;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color:white;
    padding-bottom: 10px;
    padding-left: 1rem;
    /* border-radius: 10px; */
    border-left-color: var(--amber);
    border-left-style: solid;
    border-width: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);

}

.lang ul{
    margin-top: 15px;
}

.title{
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    background-color:var(--white);
    color:var(--green);
    text-align: center;
    
}

.circle {
    background-color:var(--amber);
    border-style: solid;
    border-width: 1px;
    border-color: var(--amber);
    border-radius: 50%;
    height: clamp(9px,100%,12px);
    width: clamp(9px,20%,12px);
    align-self: center;
}

.circle-half {
    background-color: var(--amber);
    border-style: solid;
    border-width: 1px;
    border-color: var(--amber);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    align-self: center;
    position: relative;
    overflow: hidden;
}

.circle-half::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--cream);
}


.circle.empty{
    background-color:var(--cream);
}


.circle-grid{
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.lang-flex{
    display: grid;
    grid-template-columns: min(18vw,4.5rem) 5fr;
    padding-left: 0.4rem;
    border-radius: 10px;
    padding-bottom: 5px;
}


.code, .other{
    max-height: fit-content;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color:white;
    padding-bottom: 10px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);
    border-left-color: var(--amber);
    border-left-style: solid;
    border-width: 0.5rem;
}

.code li, .other li{
    margin-left: 30px;
}

.code li::marker, .other li::marker{
    color:var(--amber);
}

.code ul, .other ul{
    margin-top: 15px;
    line-height: 1.5;
}

.entry{
    margin-bottom: min(3vw,30px);
    display: flex;
    flex-direction: row;
    gap: min(3vw, 15px);
}

.year{
    font-size: smaller;
}

.flex1{
    flex: 1;
}

.flex5{
    flex: 5;
}

.degree{
    font-weight: bold;
    margin: 0;
}

.location{
    color: var(--amber);
    font-weight: bold;
    font-size: smaller;
    margin-bottom: min(2vw,10px);
}

.degree-info{
    padding-left: 30px;
}


.copyright-icons{
    display: inline;
    width: clamp(15px,5vw,30px);
    margin-bottom: -30px;

}

.description-container{
    max-width: 800px;
    min-width: min(1vw,800px);
}

.hyperlink{
    color: var(--accent);
    text-decoration: none;
}

.hyperlink:hover{
    color: var(--accent);
    text-decoration: underline;
}

.footer{
    margin-top:80px;padding:1rem;background:var(--green);color:white;text-align:center;font-size:0.7rem;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .all-skills{
        display: none;
    }
    .all-skills-mobile{
        display: flex;
    }
    .all{
        margin-left: 0;
    }
    .accordion, .person, .description .all-skills-mobile{
        min-width: min(90vw,800px);
    }
    .sidebar{
        width:100%;
        border-radius: 0;
    }

}

@media(max-width: 400px) {
    .sidebar{
        width:100%;
        border-radius: 0;
    }
}


