*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --green: #1B4332;
    --green_highlight: #23513e;
    --amber-highlight: #ebad66;
    --amber: #DDA15E;
    --cream: #F8F5F0;
    --text: #1A1A1A;
    --accent: #3A86FF;
}

body {
    min-height: 100vh;
    background-color: var(--cream);
    font-family:Arial, Helvetica, sans-serif;
    color: var(--green);
    margin-top: clamp(60px,6vw,100px);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

.factheader{
    flex: 1;  /* this pushes footer to the bottom if content is short */
}

p {
    margin-top: 0;
    margin-bottom: 30px;
}


nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: var(--green);

    box-shadow: 0px 5px 20px rgba(0,0,0,0.10);
    z-index: 100;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-weight: bold;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cream);
}

nav a:hover{
    background-color: var(--green_highlight);
    transition: 200ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);
}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vp;
    width: 250px;
    z-index: 999;
    background-color: var(--green);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    padding: 0 0;

}

.sidebar .close-icon-button{
    width: 100%;
    display: flex;}

.sidebar .close-icon-button img{
    margin-left: auto;  /* push to the right */
    padding: 10px 20px; /* optional padding for click area */
    cursor: pointer;    /* makes it clear it's clickable */
    transition: background 0.2s; /* optional hover transition */}

.sidebar .close-icon-button img:hover {
    background-color: var(--green_highlight);     
    transition: 200ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);

}

.menu-button{
    display: none;
}




h1 {
    font-size: clamp(20px,8vw,70px);
    text-align: center;
    color: var(--green);
    display: block;
    background-color:var(--cream);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: min(5vw,40px);
    position: relative;
    max-width: fit-content;
}

h1::after{
    content: "";
    background: var(--amber);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
}




.nobreak{
    white-space: nowrap;
}

.factheader{
    justify-items: center; 
    text-align: center;
}

.fact-button{
    padding: clamp(10px,4vw,15px);
    font-size: clamp(10px,4vw,16px);
    background-color: var(--amber);
    color: var(--cream);
    border-style: none;
    border-radius: 10px;
}

.fact-button:hover{
    background-color:var(--amber);
    transition: 200ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);
}

.footer{
    margin-top:80px;padding:1rem;background:var(--green);color:var(--cream);text-align:center;font-size:0.7rem;
}

.hyperlink{
    color: var(--accent);
    text-decoration: none;
}

.hyperlink:hover{
    color: var(--accent);
    text-decoration: underline;
}

#fact{
    margin-top: 20px;
    font-size: clamp(1rem,4vw,2rem);
    text-align: center;
    padding: 20px;
    max-width: 50%;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .all-skills{
        display: none;
    }
    .all-skills-mobile{
        display: flex;
    }
    .all{
        margin-left: 0;
    }
    .accordion, .person, .description .all-skills-mobile{
        min-width: min(90vw,800px);
    }
    .sidebar{
        width:100%;
        border-radius: 0;
    }

}

@media(max-width: 400px) {
    .sidebar{
        width:100%;
        border-radius: 0;
    }
}


