*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --green: #1B4332;
    --green_highlight: #23513e;

    --amber: #DDA15E;
    --cream: #F8F5F0;
    --text: #1A1A1A;
    --accent: #3A86FF;
}

body {
    height:100%;
    background-color: var(--cream);
    font-family:Arial, Helvetica, sans-serif;
    color: #283618;
    margin-top: min(15vw,5rem);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

p {
    margin-top: 0;
    margin-bottom: 30px;
}

.hyperlink{
    color: var(--accent);
    text-decoration: none;

}

.hyperlink:hover{
    text-decoration: underline;
}
nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: var(--green);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.01);
    z-index: 100;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-weight: bold;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cream);
}

nav a:hover{
    background-color:var(--green_highlight); 
    transition: 100ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);
}


nav li:first-child{
    margin-right: auto;
}








.sidebar{
    position: fixed;
    top: 0px;
    right: 0;
    /* height: 100vp; */
    width: 250px;
    z-index: 999;
    background-color: var(--green);
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 0px 0 10px rgba(0,0,0,0.15); */
    /* display: none; */
    transform: translateX(100%); /* start off-screen to the right */
    transition: transform 0.3s ease-in-out; /* smooth animation */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom-left-radius: 0.5rem;
}

.sidebar.show {
    transform: translateX(0); /* slide in */
    box-shadow: 0px 0 10px rgba(0,0,0,0.15);

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    padding: 0 0;

}


.sidebar .close-icon-button{
    width: 100%;
    display: flex;}

.sidebar .close-icon-button img{
    margin-left: auto;  /* push to the right */
    padding: 10px 20px; /* optional padding for click area */
    cursor: pointer;    /* makes it clear it's clickable */
    transition: background 0.2s; /* optional hover transition */}

.sidebar .close-icon-button img:hover {
    background-color: var(--green_highlight);     
    transition: 200ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);

}

.menu-button{
    display: none;
}


.highlight{
    color: var(--amber);
    font-weight: bold;
}



.photo-grid{
    align-content: center;
}

.big-photo{
    max-width: min(100%,50vw);
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}



.welcome-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;  /* this pushes footer to the bottom if content is short */

}




.welcome-text {
    display: flex;
    flex-direction: column;
    padding-right: min(50px,4vw);
    padding-left: min(50px,4vw);
  }

.headline{
    font-size: clamp(20px,8vw,100px);
    font-weight: bold;
    text-align: left;
    animation: 1s headline ease-out;
}




.intro-text {
    margin-top: 20px;
    font-size: clamp(1rem,4vw,1.3rem);
    text-align: left;
    max-width: 720px;
    position: relative;
    animation: 1s intro-text ease-out;
    line-height: 1.6;       /* reasonable spacing between lines */

}


.intro-text::before{
    content: "";
    background: var(--amber);
    height: min(6px,1vw);
    width: 100%;
    position: absolute;
    top: -20px;
}





.footer{
    margin-top:80px;padding:1rem;background:#1B4332;color:white;text-align:center;font-size:0.7rem;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .welcome-grid{
        flex-direction: column-reverse;
    }
    .big-photo{
        max-width: 40vw;
    }
    .photo-grid{
        display: flex;
        justify-content: center;
    }
    .headline{
        text-align: center;
    }
        .sidebar{
        width:100%;
        border-radius: 0;
    }
}

@media(max-width: 400px) {
    .sidebar{
        width:100%;
        border-radius: 0;
    }
}



@keyframes headline {
    from{
        margin-left: -10em;
        opacity: 0;
    }

    to {
        margin-left:0%;
        opacity: 100%;
    }
}

@keyframes intro-text {
    0%{
        margin-top: 5em;
        opacity: 0;
    }

    30%{
        opacity: 10%;   
    }

    100% {
        opacity: 100%;
    }
}
