/*_________________ General style settings___________ */

*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --second: #1B4332;
    --second-highlight: #23513e;
    --third-highlight: #ebad66;
    --third: #DDA15E;
    --primary: #F8F5F0;
    --container-bg: hsl(0, 0%, 98%);
    --header-text: hsl(155, 43%, 18%);
    --body-text: hsl(155, 43%, 18%,0.83);
    --sub-text: hsl(155, 43%, 18%,0.5);
    --nav-text: #F8F5F0;
    --accent: #3A86FF;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--primary);
    font-family:Arial, Helvetica, sans-serif;
    color: var(--body-text);
    margin-top: clamp(60px,6vw,100px);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


/* navigation bar on top */

nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: var(--second);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.01);
    z-index: 100;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-weight: bold;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nav-text);
}

nav a:hover{
    background-color:var(--second-highlight); 
    transition: 100ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);
}


nav li:first-child{
    margin-right: auto;
}


/* navigation on side (for mobile) */
.sidebar{
    position: fixed;
    top: 0px;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: var(--second);
    transform: translateX(100%); /* start off-screen to the right */
    transition: transform 0.3s ease-in-out; /* smooth animation */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom-left-radius: 0.5rem;
}

.sidebar.show {
    transform: translateX(0); /* slide in */
    box-shadow: 0px 0.2rem 0.75rem rgba(0,0,0,0.5);

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    padding: 0 0;

}

.sidebar .close-icon-button{
    width: 100%;
    display: flex;}

.sidebar .close-icon-button img{
    margin-left: auto;  /* push to the right */
    padding: 10px 20px; /* optional padding for click area */
    cursor: pointer;    /* makes it clear it's clickable */
    transition: background 0.2s; /* optional hover transition */}

.sidebar .close-icon-button img:hover {
    background-color: var(--second-highlight);     
    transition: 200ms;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);

}

.menu-button{
    display: none;
}

body.menu-open .content { 
    filter: blur(10px);
}

/* buttons, hyperlinks and highlight styles */
.highlight{
    color: var(--third);
    font-weight: bold;
}

.hyperlink{
    color: var(--accent);
    text-decoration: none;
}

.hyperlink:hover{
    text-decoration: underline;
}



.cta-blue {
    display: inline-block;
    color: var(--accent);
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--accent);
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    /* margin-top: 10px;
    margin-right: 10px; */
    transition: 0.2s;
    font-size: smaller;
    background-color: var(--primary);
    box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.3);
}

.cta-blue:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    transition: all 0.2s ease;  /* 👈 change 0.6s to whatever you want */
    box-shadow: 0 0 0.3rem var(--accent);
}



.navigation-buttons{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    width: max-content;
    overflow: hidden;
    margin-left: 1rem;
}


.navigation-buttons a{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-content: space-evenly;
    height: 100%;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* color: var(--nav-text); */
    /* background-color: var(--third); */
    margin-top: 0.4rem;
    margin-bottom: 0.1rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}


.navigation-buttons-top{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;       
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;  
    background-color: var(--primary);
    padding-top: 20px;
    padding-bottom: 10px;
    /* border-bottom: solid;
    border-color: var(--accent); */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.navigation-buttons-top p {
    width: calc(50% - 10px); /* Each item takes up 50% of the width minus gap */
    font-size: clamp(12px,4vw,1rem);
    /* background-color: var(--container-bg);
    border-radius: 5px;       */
}

.navigation-buttons-top a {
    display: block;          /* Makes <a> a block element so it fills the container */
    padding: 0.7rem;           /* Adds padding around the links */
    text-decoration: none;   /* Removes the default underline */
    text-align: center;      /* Centers the text inside the link */
    border-radius: 5px;      /* Optional: adds rounded corners */
    transition: 0.3s; /* Optional: adds a smooth hover effect */
}



/* footer */
.footer{
    margin-top:80px;padding:1rem;background:var(--second);color:var(--nav-text);text-align:center;font-size:0.7rem;
}




/* headers */

.h1-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: clamp(20px,8vw,70px);
    text-align: center;
    color: var(--header-text);
    display: block;
    background-color: var(--primary);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: min(4vw,2rem);
    position: relative;
    max-width: fit-content;
}

h1::after{
    content: "";
    background: var(--third);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
    border-radius: 1rem;

}




/*_________________ Site specific settings___________ */

/* header */
h2{
    font-size: clamp(18px,6vw,50px);
    font-weight: 500 ;
    text-align: left;
    color:var(--header-text);
    margin-bottom: min(5vw,40px);
    margin-top: min(3vw,35px);
    padding-bottom: min(2.5vw,1rem);
    padding-top: min(2.5vw,1rem);
    position: relative;
}


h2::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    right: 0;
    bottom: 15%;
    width: 0.3rem;
    height: 70%;
    background-color: var(--third);
    border-radius: 2px;
}


h3{
    font-size: clamp(1.1rem,4vw,1.4rem);
    font-weight: 700 ;
    text-align: left;
    color: var(--header-text);
    margin-top: min(3vw,35px);
    margin-bottom: min(5vw,40px);
}

.research-all-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1rem,2.5vw,1.2rem);
    line-height: 1.5;
}

.research-all{
    width: clamp(90%, 90%, 75ch);
    max-width: 75ch;
}

.research-all p{
    padding-bottom: min(4vw,20px);
}

.presentations-grid{
    display: flex;
    flex-direction: column;
}

.entry{
    display: flex;
    flex-direction: row;
    gap: min(5vw,40px);
}


.ac-entry{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: min(5vw,40px);
}

.role{
    font-weight: bold;
    color: var(--header-text);
}

.main-page-content{
    flex: 1;
}
.summary{
    width: min(90vw,90vw,800px);
    font-size: clamp(1rem,4vw,1.3rem);
    padding: 3vw;
    line-height: 1.5;
    margin: auto;
}

.summary p {
    padding-bottom: min(4vw,20px);
}


.publications{
    display: flex;
    flex-direction: column;
    justify-content: center
}

#publications-id, #presentations-id, #summary-id, #ac-id{
    scroll-margin-block-start: min(10vw,50px);
    width: 100%;
}



/* _________________ dark mode settings_________________ */


@media (prefers-color-scheme: dark) {
  :root {
    --primary: hsl(120, 0%, 12%);             /* main background */
    --second: #2c2c2c;              /* nav bar / sections monochrome */
    --second-highlight: #3a3a3a;    /* hover / active */
    --third: #DDB571;               /* buttons / highlights */
    --third-highlight: #F0C27A;     /* button hover */
    --container-bg: hsl(0, 0%, 17%);

    --header-text: hsl(0, 0%, 92%);                /* main text */

    --body-text: hsl(0, 0%, 80%,0.83);                /* main text */
    --sub-text: hsl(0, 0%, 80%,0.5);                /* main text */

    --nav-text: #EAEAEA;            /* nav text */
    --accent: #5AAEFF;              /* interactive accent */
  }
  .accordion__label{
    background-color: hsl(0, 0%, 25%);;
  }
 .accordion__label:hover{
    background-color: hsl(0, 0%, 27%);;
  }
}


@media(max-width: 1200px){
    .navigation-buttons-top{
        display: flex;
    }
    body{
        margin-top: clamp(150px,8vw,205px);
    }
    #publications-id, #presentations-id, #summary-id, #ac-id{
        scroll-margin-block-start: min(42vw,180px);
    }
    .navigation-buttons{
        display: none;
    }
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .sidebar{
        width:100%;
        border-radius: 0;
    }
}

@media(max-width: 400px) {
    .sidebar{
        width:100%;
        border-radius: 0;
    }
}


