*{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #fffdee;
    font-family:Arial, Helvetica, sans-serif;
    color: #283618;
    margin-top: clamp(60px,6vw,100px);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #283618;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.10);
    z-index: 100;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-weight: bold;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffdee;
}

nav a:hover{
    background-color: #DDA15E;
    transition: 200ms;
    box-shadow: inset 5px 5px 3px rgba(0,0,0,0.15);
}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vp;
    width: 250px;
    z-index: 999;
    background-color: #2836187e;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    padding: 0 0;

}

.sidebar .close-icon-button a{
    justify-content: right;
}

.sidebar .close-icon-button a img{
    padding-right: 20px;
}

.menu-button{
    display: none;
}



.h1-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: clamp(20px,8vw,70px);
    font-weight: 500 ;
    text-align: center;
    color: #283618;
    display: block;
    background-color: #fffdee;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: min(5vw,40px);
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    max-width: fit-content;
}

h1::after{
    content: "";
    background: #DDA15E;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
}

h2{
    font-size: clamp(18px,6vw,50px);
    font-weight: 700 ;
    text-align: left;
    color:#DDA15E;
    background-color: white;
    margin-bottom: min(5vw,40px);
    margin-top: min(3vw,35px);

    padding-bottom: min(2.5vw,1rem);
    padding-top: min(2.5vw,1rem);
    padding-left: min(2.5vw,1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h3{
    font-size: clamp(14px,4vw,30px);
    font-weight: 700 ;
    text-align: left;
    color:#DDA15E;
    margin-top: min(3vw,35px);
    margin-bottom: min(5vw,40px);
}

.research-all-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(14px,3.5vw,18px);

}

.research-all{
    width: clamp(90%, 90%, 75ch);
    max-width: 75ch;
}

.research-all p{
    padding-bottom: min(4vw,20px);
}

.research-all p a{
    color: #DDA15E;
}

.presentations-grid{
    display: flex;
    flex-direction: column;
}

.entry{
    display: flex;
    flex-direction: row;
    gap: min(5vw,40px);
}


.ac-entry{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: min(5vw,40px);
}

.role{
    font-weight: bold;
    color: #DDA15E;
}

.summary{
    width: min(90vw,90vw,800px);
    font-size: clamp(14px,4vw,20px);
    padding: 3vw;
    line-height: 1.5;
    margin: auto;
}

.summary p {
    padding-bottom: min(4vw,20px);
}

.navigation-buttons{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color:#283618;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    width: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}



.head{
    text-decoration: none;
    width: 100%;
    display: flex;
    padding-left: 10px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#fffdee;
    background-color: #DDA15E;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    font-weight: bold;

}

.navigation-buttons a{
    text-decoration: none;
    width: 100%;
    display: flex;
    padding-left: 10px;
    align-content: space-evenly;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #DDA15E;
    background-color: #fffdee;
}



.navigation-buttons a:hover{
    background-color: white;
    transition: 200ms;
    box-shadow: inset 5px 5px 3px rgba(0,0,0,0.15);
}


.publications{
    display: flex;
    flex-direction: column;
    justify-content: center
}

#publications-id, #presentations-id, #summary-id, #ac-id{
    scroll-margin-block-start: min(10vw,50px);
}


.navigation-buttons-top{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;       
    width: min(90vw,90vw,800px);
    position: fixed;
    z-index: 99;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;  
    background-color: #fffdee;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 50vw;
    padding-left: 50vw;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.navigation-buttons-top p {
    width: calc(50% - 10px); /* Each item takes up 50% of the width minus gap */
    font-size: clamp(12px,3vw,20px);

}

.navigation-buttons-top a {
    display: block;          /* Makes <a> a block element so it fills the container */
    padding: 10px;           /* Adds padding around the links */
    text-decoration: none;   /* Removes the default underline */
    background-color:#DDA15E; /* Optional: adds a background to the links */
    text-align: center;      /* Centers the text inside the link */
    border-radius: 5px;      /* Optional: adds rounded corners */
    transition: 0.3s; /* Optional: adds a smooth hover effect */
    color: #fffdee;

}

.navigation-buttons-top a:hover{
    box-shadow: inset 5px 5px 3px rgba(0,0,0,0.15);
}


.footer{
    text-align: center;
    font-size: clamp(8px,3vw,16px);
    margin-top: min(200px,20vw);
    color: #DDA15E;
    width: 100%;
    margin-bottom: 30px;
}

.copyright-icons{
    display: inline;
    width: clamp(15px,5vw,30px);
}


@media(max-width: 1200px){
    .navigation-buttons-top{
        display: flex;
    }
    body{
        margin-top: clamp(150px,8vw,205px);
    }
    #publications-id, #presentations-id, #summary-id, #ac-id{
        scroll-margin-block-start: min(42vw,180px);
    }
    .navigation-buttons{
        display: none;
    }
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar{
        width:100%;
    }
}


