*{
    margin:0;
    padding:0;
}

body {
    min-height: 100vh;
    background-color: #fffdee;
    font-family:Arial, Helvetica, sans-serif;
    color: #283618;
    margin-top: min(12vw,100px);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.h1-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: clamp(20px,8vw,70px);
    font-weight: 500 ;
    text-align: center;
    color: #283618;
    display: block;
    background-color: #fffdee;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: min(5vw,40px);
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    max-width: fit-content;
}

h1::after{
    content: "";
    background: #DDA15E;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
}


nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #283618;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.10);
    z-index: 100;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-weight: bold;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffdee;
}

nav a:hover{
    background-color: #DDA15E;
    transition: 200ms;
    box-shadow: inset 5px 5px 3px rgba(0,0,0,0.15);
}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vp;
    width: 250px;
    z-index: 999;
    background-color: #2836187e;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    padding: 0 0;

}

.sidebar .close-icon-button a{
    justify-content: right;
}

.sidebar .close-icon-button a img{
    padding-right: 20px;
}

.menu-button{
    display: none;
}




.footer{
    text-align: center;
    font-size: clamp(8px,3vw,16px);
    margin-top: min(200px,20vw);
    color: #DDA15E;
    width: 100%;
}



.copyright-icons{
    display: inline;
    width: clamp(15px,5vw,30px);
}


.teaching-header{
    font-weight: bold;
    padding-bottom: min(5vw,30px);
}

.teaching-list{
    padding-top: min(2vw,15px);
    padding-left: 40px;
}

.accordion{
    max-width: 800px;
    min-width: min(90vw,800px);
    overflow: hidden;
    background-color: #DDA15E;
    color: #283618;
    border-radius: 10px;
    border-color: #DDA15E;
    border-width: min(1px,10vw);
    border-style: solid;
    display: flex;
    flex-direction: column;
    place-self: center;
    margin: min(3vw, 30px);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.10);
}

.accordion__label,
.accordion__content {
    padding: 14px 20px;
    padding-right: 35px;
}

.accordion__label{
    display: block;
    color: #fffdee;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    font-size: clamp(12px,3.5vw,20px);
}

.accordion__label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.accordion__label::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content{
    background: #fffdee;
    line-height: 1.6;
    font-size: clamp(10px,3vw,18px);
    display: none;
}


.accordion__input{
    display: none;
}

.accordion__input:checked ~ .accordion__content{
    display: block;
}

.accordion__input:checked ~ .accordion__label::after{
    transform: translateY(-50%) rotate(0.5turn);
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar{
        width:100%;
    }
}


